<!doctype html>
<html lang="{{ request.locale.iso_code }}" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    {{ content_for_header }}
    {% render 'head' %}
  </head>

  <body>
    111111111
    {% sections 'header-group' %}
    <main id="main" role="main">
      {{ content_for_layout }}
    </main>
    {% sections 'footer-group' %}
  </body>
</html>
