<!-- Banner -->
<div class="yotpo-widget-instance" data-yotpo-instance-id="909129"></div>

<!-- My activity -->
<div
  class="yotpo-widget-instance"
  data-yotpo-instance-id="909134"
  rewards-history-no-rewards-text="Du hast noch keine Prämien erhalten"
  rewards-history-coupon-copied-text="Kopiert"
></div>

<!-- Earning Points -->
<div class="yotpo-widget-instance" data-yotpo-instance-id="909133"></div>

<!-- Redeem Points -->
<div class="yotpo-widget-instance" data-yotpo-instance-id="909130"></div>

<!-- Vip Tiers -->
<div class="yotpo-widget-instance" data-yotpo-instance-id="909131"></div>

<!-- Referral -->
<div
  class="yotpo-widget-instance"
  data-yotpo-instance-id="909135"
  share-link-copied-text="Kopiert"
></div>
